<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<globalization culture="pt-BR"/>
		</system.web>
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\Nemag.WebApi.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="2147483648" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 48b7f0a4-2a71-43b3-a6f6-e5bc765c4c3a-->